<nav class="navbar navbar-light bg-light d-flex justify-content-between">

  <div class="btn navbar-brand  d-inline-block align-top">
    <%= link_to image_tag("airbnb-logo.png", width: "60px"), flats_path %>
  </div>
  <div>
    <%= link_to 'Back to Flats', flats_path, class: "btn btn-outline-success" %>
  </div>

</nav>

<div class="container m-5">
  <%= simple_form_for @flat do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.input :picture, input_html: { value: 'https://source.unsplash.com/random/?city,night' } %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
