<nav class="navbar sticky-top navbar-light bg-light d-flex justify-content-between">

  <div class="btn navbar-brand  d-inline-block align-top">
    <%= link_to image_tag("airbnb-logo.png", width: "60px"), flats_path %>
  </div>

  <div class="d-flex ">
    <form class="form-inline mr-4">
      <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div>
      <%= link_to 'Delete all Flats', destroy_all_path, method: :delete, data: { confirm: "Are you really sure?" }, class: "btn btn-outline-danger " %>

      <%= link_to 'Seed', seed_path(@flats), class: "btn btn-outline-warning ml-auto" %>

      <%= link_to '+ Add Flat', new_flat_path(@flat), class: "btn btn-primary ml-auto" %>
    </div>
  </div>
</nav>
<div class="container">
  <h1 class="h2 my-3 header">FLATS - <span>[<%= Flat.count %>]</span></h1>
  <% if @query %>
    <p>You searched for <strong><%= @query %></strong>. We found <%= @flats.count %> flats out of
      our <%= Flat.count %> on our website.</p>
  <% else %>
    <p>All <%= Flat.count %> flats.</p>
  <% end %>
</div>


<div class="container">
  <div class="">
    <div class="row col-xs-2 justify-content-between" data-controller="drag" data-drag-url="/flats/:id">
      <% @flats.each do |flat| %>
        <div class="card m-3 w-25" data-id="<%= flat.id %>">
          <img class="card-img-top" src="<%= flat.picture %>" alt="Card image cap">
          <div class="card-body pb-0">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <div class="container d-flex p-0">
              <p class="card-text ">
                <i class="fas fa-user-friends p-2"></i><%= flat.number_of_guests %>
              </p>
              <p class="card-text ml-auto"><%= flat.price_per_night %>
                <i class="fas fa-euro-sign"></i>
              </p>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= link_to 'more info', flat_path(flat) %></small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
