<nav class="navbar navbar-light bg-light d-flex justify-content-between">

  <div class="btn navbar-brand  d-inline-block align-top">
    <%= image_tag("airbnb-logo.png", width: "60px") %>
  </div>
  <%= link_to '+ Add Flat', flats_path(@flat), class: "btn btn-primary" %>

</nav>
<div class="container">
  <h1 class="h1 my-3 header">FLATS - <span>[<%= Flat.count %>]</span></h1>

</div>


<div class="container">
  <div class="row">
    <div class="row col-xs-2 justify-content-between">
      <% @flats.each do |flat| %>
        <div class="card m-3 w-25">
          <img class="card-img-top" src="https://source.unsplash.com/random/?city,night" alt="Card image cap">
          <div class="card-body pb-0">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <div class="container d-flex p-0">
              <p class="card-text ">
                <i class="fas fa-user-friends p-2"></i><%= flat.number_of_guests %>
              </p>
              <p class="card-text ml-auto"><%= flat.price_per_night %>
                <i class="fas fa-euro-sign"></i>
              </p>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= link_to 'more info' %></small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

