<div class="container m-5">
  <%= simple_form_for @flat do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.input :picture, input_html: { value: 'https://source.unsplash.com/random/?city,night' } %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>