<nav class="navbar sticky-top navbar-light bg-light d-flex justify-content-between">

  <div class="btn navbar-brand  d-inline-block align-top">
    <%= link_to image_tag("airbnb-logo.png", width: "60px"), flats_path %>
  </div>
  <div>
    <%= link_to '+ Add Flat', new_flat_path(@flat), class: "btn btn-primary" %>
  </div>

</nav>


<div class="container">
  <div class="card w-50 mx-auto mt-4">
    <img class="card-img-top" src="<%= @flat.picture %>" alt="Card image cap">
    <div class="card-body pb-0">
      <h5 class="card-title"><%= @flat.name %></h5>
      <p class="card-text"><%= @flat.address %></p>
      <div class="container d-flex p-0">
        <p class="card-text ">
          <i class="fas fa-user-friends p-2"></i><%= @flat.number_of_guests %>
        </p>
        <p class="card-text ml-auto"><%= @flat.price_per_night %>
          <i class="fas fa-euro-sign"></i>
        </p>
      </div>
    </div>
    <div class="card-footer d-flex">
      <div><%= link_to 'Back to Flats', flats_path, class: "btn btn-outline-success" %></div>
      <div class="ml-auto"><%= link_to 'Edit this Flat', edit_flat_path, class: "btn btn-outline-info " %></div>
      <div class="ml-auto"><%= link_to 'Delete this Flat', flat_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger " %></div>
    </div>
  </div>
</div>

